@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.header {
 background-color: white;
  width: 100%;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  position: fixed;
  top: 0px;
}
section h1{
  margin-top: 100px;
}
section{
  padding: 50px 5%;
}

.header .logo {
  height: 3rem;
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #364fc7;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* home  */
#home{
 /* border: 2px solid black; */
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.home>h1{
  font-size: 25px;
}
.home-div{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#home div{

  margin-top: 20px;
}

.home-div>div>h2{
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
}

.img-div img{
  width: 80%;
  border-radius: 10px;
  margin: 10px;
}
#resume-button-2{
  padding: 8px 20px;
  font-size: 20px;
  background-color: rgba(128, 128, 128, 0.475);
  border-radius: 5px;
  font-weight: bold;
  border: none;
  margin: 10px 0px 30px 10px;

  

}

/* about */
.about{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.about>h1{
  font-size: 25px;
  padding-bottom: 10px;
}

.about-div{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.home-img{
  width: 80%;
  border-radius: 10px;
}
#user-detail-intro{
  font-size: 25px;
  padding: 10px 0px;
 
}
#contact-phone{
  font-size: 20px;
  padding: 10px 0px;
}
#contact-email{
  font-size: 20px;
  padding: 10px 0px;
}


 /* skills  */
 #skills>h1{
  font-size: 25px;
  padding-bottom: 10px;
}
#skills{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}

.skills-card{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.skills-card>div img{
  width: 40%;
}

.skills-card>div{
  font-size: 15px;
  text-align: center;
 
}


/* project  */
#projects{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#projects>h1{
  font-size: 25px;
margin-bottom: 20px;
}

.project-div{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: grid;

  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  padding: 20px;
}
.project-title{
  font-size: 18px;
  padding: 10px 0px;
}
.project-description{
  font-size: 15px;
  padding: 5px;
}
.project-github-link{
  font-size: 15px;
  padding: 5px;
}
.project-deployed-link{
  font-size: 15px;
  padding: 5px;
}
.project-tech-stack{
  font-size: 15px;
  padding: 5px;
}


/* github  */
.react-activity-calendar > h1 {

  font-size: 25px;
  margin-bottom: 25px;
}

.react-activity-calendar hr {
  border: 2px solid royalblue;
  width: 400px;
}



.react-activity-calendar {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  /* padding-top: 100px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.git-div{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.react-activity-calendar > h1 {
  margin-bottom: 50px;
}

.react-activity-calendar > div {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.react-activity-calendar img {
  /* border: 1px solid yellow; */
  width: 30%;
  padding: 20px 0px;
}


/* contect  */
#contact > h1 {
  font-size: 25px;
  margin: 20px 0px;
}

#contact hr {
  border: 2px solid royalblue;
  width: 120px;
}

#contact {
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

#contact > div {
  /* border: 1px solid grey; */
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 40px 0px;
}

.social-links {
  /* border: 1px solid red; */
  width: 30%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}

.social-links i {
  /* border: 1px solid red; */
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links i:hover {
  /* border: 1px solid red; */
  font-size: 35px;
  /* color: blueviolet; */
}

.fa-twitter:hover {
  color: rgb(29 161 242);
}

.fa-whatsapp:hover {
  color: rgb(18 140 126);
}

.fa-linkedin:hover {
  color: rgb(0, 119, 181);
}

.fa-github:hover {
  color: #333;
}

.write > p {
  font-size: 30px;
  color: teal;
  margin: 10px 20px;
}

.write input {
  display: block;
  height: 35px;
  width: 450px;
  margin: 20px;
  color: white;
  outline: none;
  /* background-color: black; */
  border: 1px solid grey;
  font-size: 16px;
  padding-left: 10px;
}

#message {
  height: 140px;
}

#send {
  margin: 10px 20px;
  border: 1px solid grey;
  padding: 10px 50px;
  font-size: 20px;
  border-radius: 5px;
  color: black;
  /* background-color: black; */
  cursor: pointer;
}

#send:hover {
  border: 1px solid teal;
  background-color: rgb(0, 89, 255);
}


.end-ribbon{
  background-color: rgba(135, 207, 235, 0.505);
}
.end-ribbon p{
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  padding: 10px 0px;
}
/* ===========================================
Responsive Codes 
======================================= */

/* 980px  */
@media screen and (min-width: 600px) and (max-width: 900px) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid #212529;
    color: #212529;
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 40%;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: #e7f5ff;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}

/* Below 560px  */
@media screen and (min-width: 0px) and (max-width: 599px) {
  .header {
    padding: 0 2.4rem;
  }

  .header .logo {
    width: 60%;
  }

  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid #212529;
    color: #212529;
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 40%;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: #e7f5ff;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
  
}